/*configs*/
@font-face {
  font-family: "Young Serif";
  src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf)
}

@font-face {
  font-family: "Outfit";
  src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-backgroud: hsl(30, 54%, 90%);
  --color-grey: hsl(30, 18%, 87%);
  --color-desat-brown: hsl(30, 10%, 34%);
  --color-charcoal: hsl(24, 5%, 18%);
  --color-brown: hsl(14, 45%, 36%);
  --color-rose: hsl(332, 51%, 32%);
  --color-rose-white: hsl(330, 100%, 98%);

  --ff-serif: "Young Serif", serif;
  --ff-sans-serif: "Outfit", sans-serif;

  --fs-title: 2.5rem;
  --fs-heading: 1.75rem;
  --fs-prep-time: 1.25rem;
  --fs-text: 1rem;
}

/*reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-backgroud);
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-text);
  font-weight: 400;
  line-height: 150%;
  color: var(--color-desat-brown);
}

.container {
  background-color: var(--color-white);
  margin-top: 128px;
  margin-bottom: 128px;
}

/*text styles*/
h1, h2 {
  font-family: var(--ff-serif);
  font-weight: 400;
  line-height: 100%;
}

.title {
  font-size: var(--fs-title);
  color: var(--color-charcoal);
}

h2 {
  font-size: var(--fs-heading);
  color: var(--color-brown);
}

.prep-time-heading {
  font-size: var(--fs-prep-time);
  font-weight: 600;
  color: var(--color-rose);
  line-height: 100%;
}

span {
  font-weight: 700;
  color: var(--color-desat-brown);
}

[data="value"] {
  font-weight: 700;
  color: var(--color-brown);
}

ul, ol {
  padding: 0 1.5rem;
}

li {
  padding-left: 1rem;
}

.prep-time li::marker {
  font-weight: 600;
  color: var(--color-rose);
}

img {
  height: 400px;
}




.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}